.inputArea{
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(103, 171, 228);
  height: 100%;
  width: 70%;
}
.commentDiv{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 20px 20px 50px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
}
.commentDiv::first-letter{
  font-size: 20px !important;
  font-weight: normal !important;
}

.navDesign{
  background-color: #A0BCC2;
}

.hero{
  background-color: #E5E3C9;
}